<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!---->
<!DOCTYPE html>
<html>
<head>
<title>ANC Mess 1 </title>
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<script src="static/js/jquery.min.js"></script>

<!--//theme style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="static/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="static/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!-- /start menu -->


<!---->	
<div class="slider" >
	  <div class="callbacks_container">
	     <ul class="rslides" id="slider">
	         <li>
				 <div class="banner1">				  
					  <div class="banner-info">
					  <h3>A SmartCampus Initiative</h3>
					  <p>Food is always nice.</p>
					  </div>
				 </div>
	         </li>
	        
	        
	      </ul>
	  </div>
</div>
<!---->
<script src="static/js/bootstrap.js"> </script>

<div class="items">
	 <div class="container">
		 <div align="center" class="items-sec">
		 
            <a href="https://smartcampus-bphc.mybluemix.net/product"><button class="btn btn-success" style="position:center ; width:35%; height:80px;  font-size: 25px;">ORDER HERE</button></a>
		 
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    
<!---->
    
<div class="offers">
	 <div class="container">
	 <h3>End of Semester Sale</h3>
	 <div class="offer-grids">
		 <div class="col-md-6 grid-left">
			 <a href="#"><div class="offer-grid1">
				 <div class="ofr-pic">
					 <img src="images/ofr2.jpeg" class="img-responsive" alt=""/>
				 </div>
				 <div class="ofr-pic-info">
					 <h4>CG </h4>
					 <span>UP TO 60% OFF</span>
					 <p> <a href="http://youreallyshouldbestudying.tumblr.com/" target ="_blank" style = "color:white">Shop Now</p>
				 </div>
				 <div class="clearfix"></div>
			 </div></a>
		 </div>
<!---->
         
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
					
			 
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<div class="copywrite">
	 <div class="container">
		 <div class="copy">
			 <p>© 2016 SmartCampus. All Rights Reserved</p>
		 </div>
		 <div class="social">							
				<a href="https://www.facebook.com/SmartCampus-BPHC-552928404885269/?fref=ts&em=1"><i class="facebook"></i></a>
				
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
</body>
</html>