<!DOCTYPE html>
<html>
<head>
<title>ANC:Food Items</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>

<!-- Custom Theme files -->
<!--theme style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<script src="js/simpleCart.min.js"> </script>
<!-- start menu -->
<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!-- /start menu -->
<link href="css/form.css" rel="stylesheet" type="text/css" media="all" />
<!-- the jScrollPane script -->
<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
		<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script>
<!-- //the jScrollPane script -->
<style >
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: orange;
  color: blue;


}

#thank{
	font-size: 10em;
	text-align: center;
	font-style: Helvetica;
	position: relative;
	padding-top: 2em;

}
#subthank{
	font-size: 6em;
	text-align: center;
	font-style: Helvetica;
	position: relative;

}

</style>
</head>

<body> 
<!--header-->

<div class="header-top header-fixed fixed-nav-bar" >
	 <div class="header-bottom" >			
				<div class="logo">
					<h1><a href="index.html" style="background-color: orange">SmartANC</a></h1>					
				</div>
			 <!---->		 
			 <div class="top-nav">
				<ul class="memenu skyblue" style="color:Brown">
					<li class="grid" style="text-color:Brown ! Important;"><a href="#">Menu</a>
						<div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<ul>
										<li><a href="#chinese">Chinese</a></li>
										<li><a href="#south_indian">South Indian</a></li>
										<li><a href="#continental">Continental</a></li>
										
									</ul>
								</div>
							
							</div>
						</div>
					</li>

					<li class="grid"><a href="#">Cart </a>
					
					</li>

					<li class="grid"><a href="typo.html">Account</a>
						<div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<h4>Me</h4>
									<ul>
										<li><a href="product.html">Edit</a></li>
										<li><a href="product.html">History</a></li>
										<li><a href="product.html">Preferences</a></li>
										<li><a href="product.html">Logout</a></li>
									</ul>
								</div>
							
							</div>
						</div>

					</li>
					<li class="grid"><a href="contact.html">Contact</a></li>					
				</ul>				
			 </div>
			 <!---->
			 <div class="cart box_1">
				 <a href="checkout.html">
					<div class="total">
					<span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				</a>
				<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
			 	<div class="clearfix"> </div>
			 </div>
			 <div class="clearfix"> </div>
			 <!---->			 
			 </div>
			<div class="clearfix"> </div>
</div>

<div >
	
	<div id="thank">Thank You</div>
	<div id="subthank">
		We'll contact you soon.
	</div>

</div>
</body>
</html>
